
//span.selectedcollection Viewer Representation: &nbsp;&nbsp;
//label.switch
//  input(type='checkbox' id='viewer_representation' checked='')
//  span.slider.round
//br
//br
//span.selectedcollection Choose Collection: &nbsp;&nbsp;
//select#collectionselected
//  each collection in ['TrimWheelV41','TrimWheelV42','TrimWheelV50']
//    option(value=collection) #{collection}
//br
//br
//span.selectedpart Selected Part: &nbsp;&nbsp;
//select#partselected
//  each part in [{"name":"StockMaterial","index":4},{"name":"CuttingTool","index":5},{"name":"SpindleMotor","index":6},{"name":"Stepper_XAxis","index":0},{"name":"Stepper_YAxis","index":1},{"name":"Stepper_ZAxis","index":2},{"name":"Stepper_BAxis","index":3}]
//   option(value=part.index) #{part.name}
//include ./performance-part.pug

//ul#sidebar-pills.nav.nav-pills.nav-fill.mb-3(role='tablist')
//  li.nav-item
//    a#performance-tab.nav-link.active(data-toggle='pill' href='#performance-general' role='tab' aria-controls='performance-general' aria-selected='true') Flow rate
// li.nav-item 
//   a#performance-tab.nav-link.active(data-toggle='pill' href='#performance-part' role='tab' aria-controls='performance-part' aria-selected='true') Water level

ul#performance-tabs.nav.nav-tabs.mb-3.nav-fill(role='tablist')
  li.nav-item
    a#performance-general-tab.nav-link.active(data-toggle='tab' href='#performance-general' role='tab' aria-controls='performance-general' aria-selected='false') Flow Rate
  li.nav-item
    a#performance-part-tab.nav-link(data-toggle='tab' href='#performance-part' role='tab' aria-controls='performance-part' aria-selected='true') Water Level
#procurement-tabs-content.tab-content
  #performance-general.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='performance-general-tab')
    include ./performance-general.pug
  #performance-part.tab-pane.fade(role='tabpanel' aria-labelledby='performance-part-tab')
    include ./performance-part.pug